.factbox {
	width: 700px;
	height: 400px;
	position: absolute;
	top: 130px;
	left: 180px;
	margin: auto;
	background-color: #f9fff5;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-sizing: border-box;
	padding: 15px;
	transition: 0.3s;
}



.factbox-top.flex {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.factbox-top i {
	font-size: 1.5em;
	transition: 0.3s;
}

.fa-circle-o,
.fa-chevron-down {
	color: #999999;
}

.fa-check-circle-o {
	color: #169B62;
}

.fa-check-circle-o:hover,
.fa-chevron-down:hover {
	color: #FF883E;
}

.icon-flash {
	animation: got-fact 2s forwards;
}

@keyframes got-fact {
	0% {
		color: #FF883E;
	}
	100% {
		color: #169B62;
	}
}

#closer {
	width: 25px;
}

.factbox.flex {
	height: 400px;
}

.factbox-top.wrap {
	
}

.fact-content {
	text-align: center;
}

.fact-content.wrap {
	width: 600px;
	margin: 0 auto;
}

.minimize-hint {
	font-size: .6em;
	text-transform: uppercase;
}