.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
}

.hidden {
	display: none;
}

* {
	transition-timing-function: linear;
}